* {
    margin: 15px;
    padding: 15px;
  }
  
  body {
    background-color: rgb(253 , 251 , 251);
    font-family: Times New Roman, Times, serif;
    font-size: 22px;
    color: navy;
    line-height: 30px;
  }
  
  #cabecalho {
    position: fixed;
    top: 0;
  }
  
  table , th , td {
    border: 1px solid black;
  }